<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/styles/popup.css" />
    <script type="text/javascript" src="popup.js"></script>
    <title>Passive Aggressive Email Popup</title>
  </head>

  <body>
    <div class="title-break"></div>
    <div class="center"></div>

      <div class="wrap">
        <div class="slider">
          <input type="range" id="pa-slider" min="-3" max="3" value="0" step="1"/>
        </div>
      </div>
      <div class="wrap">
        <h4>Passive Aggressiveness: <div class="slider-value" id="sliderValue">0</div></h4>
      </div>

      <div class="wrap">
        <button class="generate-button">GENERATE</button>
      </div>

    </div>
    <script src="popup.js"></script>
  </body>
</html>
